$include /etc/hotplug2-common.rules

SUBSYSTEM ~~ (net|button|usb|platform|ieee1394|block|atm) {
	exec /sbin/hotplug-call %SUBSYSTEM%
}

DEVICENAME ~~ (watchdog) {
	exec /sbin/watchdog -t 5 /dev/watchdog
	next
}

# WLAN logger
SUBSYSTEM == wlan-log, TYPE == acl {
        exec logger "[WLAN access %REPORT_ACTION%] from MAC: %MAC%," ;
}

SUBSYSTEM == wlan-log, TYPE == auth {
	exec logger "[WLAN access %REPORT_ACTION%: incorrect security] from MAC address %MAC%," ;
}
